.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 159px;
  margin-right: 12px;
  color: var(--black-500);
  font-size: 11px;

  @media (--m) {
    margin-left: 4px;
    margin-right: 16px;
  }
}

.vote {
  width: 53px;
  text-align: center;
  margin: auto;
  span {
    font-size: 20px;
    color: var(--black-500);
  }
}

.answer {
  margin: auto;
  width: 53px;
  text-align: center;

  
  span {
    font-size: 20px;
    color: var(--black-500);
  }
}
.highlight_answer{
  border: 1px solid #3ACE48 ;
  border-radius: 8px;
  margin: auto;
  width: 53px;
  text-align: center;
  span {
    font-size: 20px;
    color: var(--black-500);
  }
}
.view {
  margin: auto;
  width: 53px;
  text-align: center;
  span {
    font-size: 20px;
    color: var(--black-500);
  }
}
