.voteCell {
  position: relative;
  width: auto;
  padding-right: 16px;
  vertical-align: top;
  grid-column: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.voteButton {
  margin: 2px;
  &:hover {
    background-color: transparent;
  }
  
  svg {
    color: var(--black-200);
    width: 36px;
    height: 36px;
  }
}
.situation{
  position: absolute;
  bottom: -40px;
}
.voted {
  color: var(--orange) !important;
}

.score {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 21px;
  margin: 2px;
  color: var(--black-500)
}
.hide{
  pointer-events: none;
  opacity: 0.6;
}

.check{
  color: var(--black-200) !important;
  width: 36px;
  height: 36px;
}
.checkVote{
  color: var(--green) !important;
}

.hideVote{
  pointer-events: none;
  opacity: 0;
  cursor:none;
}